{
  "openapi": "3.0.1",
  "info": {
    "title": "Infor Support API",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://mingle-ionapi.inforcloudsuite.com/VOSSLIGHTING_TST/CXP/support",
      "variables": {
        "basePath": {
          "default": "/VOSSLIGHTING_TST/CXP/support"
        }
      }
    }
  ],
  "paths": {
    "/support/v3/incidents/{incidentid}/events": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isarchived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/{incidentid}": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isarchived",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIncidentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateIncidentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/support/v3/incidents/defaults": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "screenId",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "logicalId",
            "in": "header",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentDefaultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/{incidentid}/escalations": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EscalationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EscalationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EscalationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/{incidentid}/deescalations": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/{incidentid}/comments": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CommentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/{incidentid}/ranks": {
      "put": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RankRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RankRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RankRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/{incidentid}/contact": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userName2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "companyId2",
            "in": "header",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeContactRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeContactRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/subscriptionevents": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentSubscriptionEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/support/v3/incidents/{incidentid}/subscription": {
      "put": {
        "tags": [
          "Incidents"
        ],
        "parameters": [
          {
            "name": "incidentid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-Infor-customerId",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Tenant",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-St-Tenantid",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Identity2",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Infor-Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentSubscriptionRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentSubscriptionRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentSubscriptionEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IncidentAttachment": {
        "type": "object",
        "properties": {
          "attachmentId": {
            "type": "integer",
            "format": "int32"
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "fileSizeBytes": {
            "type": "string",
            "nullable": true
          },
          "uploadTime": {
            "type": "string",
            "nullable": true
          },
          "uploadedById": {
            "type": "integer",
            "format": "int32"
          },
          "uploadedBy": {
            "type": "string",
            "nullable": true
          },
          "internalOnlyAttach": {
            "type": "boolean"
          },
          "inforOnlyAttach": {
            "type": "boolean"
          },
          "isConfidential": {
            "type": "boolean"
          },
          "isRegulated": {
            "type": "boolean"
          },
          "isS3": {
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "logId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "GetAttachmentsResponse": {
        "type": "object",
        "properties": {
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncidentAttachment"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": false
        }
      },
      "Attachments": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "isConfidential": {
            "type": "boolean"
          },
          "isRegulated": {
            "type": "boolean"
          },
          "fileSize": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AttachmentsResponse": {
        "type": "object",
        "properties": {
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachments"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AttachmentPutRequest": {
        "type": "object",
        "properties": {
          "isConfidential": {
            "type": "boolean"
          },
          "flagType": {
            "maxLength": 1,
            "minLength": 0,
            "pattern": "^[a-zA-Z]{1}$",
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ScreenCaptureRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CloudMaintenanceCalendarEntry": {
        "type": "object",
        "properties": {
          "productName": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string",
            "nullable": true
          },
          "scheduledReleaseDate": {
            "type": "string",
            "nullable": true
          },
          "productDate": {
            "type": "string",
            "nullable": true
          },
          "monthId": {
            "type": "integer",
            "format": "int32"
          },
          "monthName": {
            "type": "string",
            "nullable": true
          },
          "solutionId": {
            "type": "integer",
            "format": "int32"
          },
          "startTime": {
            "type": "string",
            "nullable": true
          },
          "startTimeAbb": {
            "type": "string",
            "nullable": true
          },
          "isPreprod": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CloudMaintenanceCalendarResponse": {
        "type": "object",
        "properties": {
          "cloudMaintenanceCalendar": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudMaintenanceCalendarEntry"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Release": {
        "type": "object",
        "properties": {
          "releaseId": {
            "type": "integer",
            "format": "int32"
          },
          "releaseName": {
            "type": "string",
            "nullable": true
          },
          "defaultProductionReleaseId": {
            "type": "integer",
            "format": "int32"
          },
          "defaultTestReleaseId": {
            "type": "integer",
            "format": "int32"
          },
          "isaReleaseName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ReleasesResponse": {
        "type": "object",
        "properties": {
          "releases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Release"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Environment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnvironmentsResponse": {
        "type": "object",
        "properties": {
          "environments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Environment"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnvironmentProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnvironmentProfilesResponse": {
        "type": "object",
        "properties": {
          "environmentprofiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnvironmentProfile"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Installation": {
        "type": "object",
        "properties": {
          "serialNumber": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InstallationsResponse": {
        "type": "object",
        "properties": {
          "installations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Installation"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FunctionCode": {
        "type": "object",
        "properties": {
          "referenceCode": {
            "type": "string",
            "nullable": true
          },
          "referenceDescription": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FunctionCodesResponse": {
        "type": "object",
        "properties": {
          "functionCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunctionCode"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IncidentType": {
        "type": "object",
        "properties": {
          "incidentTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "incidentTypeName": {
            "type": "string",
            "nullable": true
          },
          "isDefault": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "IncidentTypesResponse": {
        "type": "object",
        "properties": {
          "incidentTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncidentType"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "region": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CountriesResponse": {
        "type": "object",
        "properties": {
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateEnhancementRequest": {
        "required": [
          "description",
          "productId",
          "productLineId",
          "proposedSolution",
          "releaseId",
          "requestTypeId",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 1000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "productLineId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "productId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "userId": {
            "type": "integer",
            "format": "int32"
          },
          "requestTypeId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "proposedSolution": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "workAround": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "releaseId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "moduleId": {
            "type": "integer",
            "format": "int32"
          },
          "countryId": {
            "type": "integer",
            "format": "int32"
          },
          "industryId": {
            "type": "integer",
            "format": "int32"
          },
          "userGroupId": {
            "type": "integer",
            "format": "int32"
          },
          "relatedCaseId": {
            "type": "integer",
            "format": "int32"
          },
          "internalOnly": {
            "type": "boolean"
          },
          "opportunityId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreateEnhancement": {
        "type": "object",
        "properties": {
          "enhancementId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreateEnhancementResponse": {
        "type": "object",
        "properties": {
          "enhancement": {
            "$ref": "#/components/schemas/CreateEnhancement"
          }
        },
        "additionalProperties": false
      },
      "UpdateEnhancementRequest": {
        "required": [
          "description",
          "productId",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 1000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "productLineId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "productId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "userId": {
            "type": "integer",
            "format": "int32"
          },
          "requestTypeId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "description": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "proposedSolution": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "workAround": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "releaseId": {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "moduleId": {
            "type": "integer",
            "format": "int32"
          },
          "countryId": {
            "type": "integer",
            "format": "int32"
          },
          "industryId": {
            "type": "integer",
            "format": "int32"
          },
          "userGroupId": {
            "type": "integer",
            "format": "int32"
          },
          "relatedCaseId": {
            "type": "integer",
            "format": "int32"
          },
          "internalOnly": {
            "type": "boolean"
          },
          "opportunityId": {
            "type": "integer",
            "format": "int32"
          },
          "linkedCase": {
            "maxLength": 1000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "contactID": {
            "type": "integer",
            "format": "int32"
          },
          "sysId": {
            "maxLength": 1000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "isServiceNow": {
            "type": "boolean"
          },
          "erId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "EnhancementRequest": {
        "type": "object",
        "properties": {
          "erId": {
            "type": "integer",
            "format": "int32"
          },
          "acknowledgements": {
            "type": "integer",
            "format": "int32"
          },
          "endorsements": {
            "type": "integer",
            "format": "int32"
          },
          "rejections": {
            "type": "integer",
            "format": "int32"
          },
          "prioritizedVotes": {
            "type": "integer",
            "format": "int32"
          },
          "implementedProduct": {
            "type": "string",
            "nullable": true
          },
          "assignPm": {
            "type": "string",
            "nullable": true
          },
          "devOwner": {
            "type": "string",
            "nullable": true
          },
          "implementedProductId": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "categoryId": {
            "type": "integer",
            "format": "int32"
          },
          "requestType": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "nullable": true
          },
          "comments": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "industry": {
            "type": "string",
            "nullable": true
          },
          "moduleId": {
            "type": "integer",
            "format": "int32"
          },
          "module": {
            "type": "string",
            "nullable": true
          },
          "membertype": {
            "type": "string",
            "nullable": true
          },
          "releaseId": {
            "type": "integer",
            "format": "int32"
          },
          "release": {
            "type": "string",
            "nullable": true
          },
          "plannedRelease": {
            "type": "string",
            "nullable": true
          },
          "productId": {
            "type": "integer",
            "format": "int32"
          },
          "productLineId": {
            "type": "integer",
            "format": "int32"
          },
          "product": {
            "type": "string",
            "nullable": true
          },
          "productLine": {
            "type": "string",
            "nullable": true
          },
          "proposedSolution": {
            "type": "string",
            "nullable": true
          },
          "incidentId": {
            "type": "integer",
            "format": "int32"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "statusReleaseId": {
            "type": "string",
            "nullable": true
          },
          "priority": {
            "type": "string",
            "nullable": true
          },
          "priorityId": {
            "type": "integer",
            "format": "int32"
          },
          "effort": {
            "type": "string",
            "nullable": true
          },
          "effortId": {
            "type": "integer",
            "format": "int32"
          },
          "jiraRefNumb": {
            "type": "string",
            "nullable": true
          },
          "refErId": {
            "type": "integer",
            "format": "int32"
          },
          "timeLine": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string",
            "nullable": true
          },
          "contactName": {
            "type": "string",
            "nullable": true
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          },
          "userGroupId": {
            "type": "string",
            "nullable": true
          },
          "userGroup": {
            "type": "string",
            "nullable": true
          },
          "workaround": {
            "type": "string",
            "nullable": true
          },
          "updateDate": {
            "type": "string",
            "nullable": true
          },
          "erRead": {
            "type": "integer",
            "format": "int32"
          },
          "createdBy": {
            "type": "integer",
            "format": "int32"
          },
          "prioritizedUserId": {
            "type": "integer",
            "format": "int32"
          },
          "prioritizedUserName": {
            "type": "string",
            "nullable": true
          },
          "isCompanyPrioritized": {
            "type": "boolean"
          },
          "isInternalEr": {
            "type": "boolean"
          },
          "opportunityId": {
            "type": "string",
            "nullable": true
          },
          "customerCentralHostUrl": {
            "type": "string",
            "nullable": true
          },
          "isPrioritizedEr": {
            "type": "boolean"
          },
          "jiraEnabled": {
            "type": "boolean"
          },
          "jiraProject": {
            "type": "string",
            "nullable": true
          },
          "jiraComponentKey": {
            "type": "string",
            "nullable": true
          },
          "jiraReferenceUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnhancementRequestsResponse": {
        "type": "object",
        "properties": {
          "enhancementRequests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnhancementRequest"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnhancementSubscriptionResponse": {
        "type": "object",
        "properties": {
          "isSubscribe": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EnhancementIsInternalErUpdateReponse": {
        "type": "object",
        "properties": {
          "isInternalEr": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdateEnhancementsRequest": {
        "required": [
          "erIds"
        ],
        "type": "object",
        "properties": {
          "productId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "assignPm": {
            "type": "string",
            "nullable": true
          },
          "pmId": {
            "type": "integer",
            "format": "int32"
          },
          "erIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "refErId": {
            "type": "integer",
            "format": "int32"
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "statusDescription": {
            "type": "string",
            "nullable": true
          },
          "stateId": {
            "type": "integer",
            "format": "int32"
          },
          "prioritizedEr": {
            "type": "boolean"
          },
          "toBeArchived": {
            "type": "boolean"
          },
          "priorityId": {
            "type": "integer",
            "format": "int32"
          },
          "categoryId": {
            "type": "integer",
            "format": "int32"
          },
          "devOwner": {
            "type": "string",
            "nullable": true
          },
          "effortId": {
            "type": "integer",
            "format": "int32"
          },
          "jiraReferenceNumber": {
            "type": "string",
            "nullable": true
          },
          "explanation": {
            "type": "string",
            "nullable": true
          },
          "eventDescription": {
            "type": "string",
            "nullable": true
          },
          "timeLine": {
            "type": "string",
            "nullable": true
          },
          "plannedRelease": {
            "type": "string",
            "nullable": true
          },
          "updateStatusLog": {
            "type": "boolean"
          },
          "patch": {
            "type": "string",
            "nullable": true
          },
          "updatedBy": {
            "type": "integer",
            "format": "int32"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "UpdateEnhancements": {
        "type": "object",
        "properties": {
          "enhancementIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateEnhancementsResponse": {
        "type": "object",
        "properties": {
          "enhancements": {
            "$ref": "#/components/schemas/UpdateEnhancements"
          }
        },
        "additionalProperties": false
      },
      "EnhancementOpportunityIdUpdateResponse": {
        "type": "object",
        "properties": {
          "opportunityId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "VoteRequest": {
        "required": [
          "erId",
          "voteStatus"
        ],
        "type": "object",
        "properties": {
          "erId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "voteStatus": {
            "type": "integer",
            "format": "int32"
          },
          "commentText": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "erSubscribe": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Vote": {
        "type": "object",
        "properties": {
          "voteId": {
            "type": "integer",
            "format": "int32"
          },
          "erId": {
            "type": "integer",
            "format": "int32"
          },
          "userName": {
            "type": "string",
            "nullable": true
          },
          "voteStatus": {
            "type": "integer",
            "format": "int32"
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "format": "date"
          }
        },
        "additionalProperties": false
      },
      "VoteResponse": {
        "type": "object",
        "properties": {
          "votes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vote"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnhancementAttachment": {
        "type": "object",
        "properties": {
          "attachmentId": {
            "type": "integer",
            "format": "int32"
          },
          "attachmentOwnerId": {
            "type": "integer",
            "format": "int32"
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "filePath": {
            "type": "string",
            "nullable": true
          },
          "fileSize": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "isS3Attachment": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EnhancementAttachmentsResponse": {
        "type": "object",
        "properties": {
          "enhancementAttachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnhancementAttachment"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Comment": {
        "type": "object",
        "properties": {
          "commentId": {
            "type": "integer",
            "format": "int32"
          },
          "userName": {
            "type": "string",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "isInternalComment": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CommentResponse": {
        "type": "object",
        "properties": {
          "comments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comment"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnhancementCommentRequest": {
        "required": [
          "erId"
        ],
        "type": "object",
        "properties": {
          "erId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "commentText": {
            "maxLength": 2000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "isInternalComment": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EnhancementStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "nullable": true
          },
          "userName": {
            "type": "string",
            "nullable": true
          },
          "commentDate": {
            "type": "string",
            "format": "date-time"
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnhancementStatusResponse": {
        "type": "object",
        "properties": {
          "enhancementStatusDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnhancementStatus"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnhancementLinkedEr": {
        "type": "object",
        "properties": {
          "erId": {
            "type": "integer",
            "format": "int32"
          },
          "productLine": {
            "type": "string",
            "nullable": true
          },
          "productName": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "isArchivedEr": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EnhancementLinkedErResponse": {
        "type": "object",
        "properties": {
          "enhancementLinkedErDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnhancementLinkedEr"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnhancementDuplicateEr": {
        "type": "object",
        "properties": {
          "erId": {
            "type": "integer",
            "format": "int32"
          },
          "productLine": {
            "type": "string",
            "nullable": true
          },
          "productName": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "isArchivedEr": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "EnhancementDuplicateErResponse": {
        "type": "object",
        "properties": {
          "enhancementDuplicateErDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnhancementDuplicateEr"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "release": {
            "type": "string",
            "nullable": true
          },
          "deploymentType": {
            "type": "string",
            "nullable": true
          },
          "maintenancePlanExpireDate": {
            "type": "string",
            "format": "date-time"
          },
          "maintenancePlan": {
            "type": "string",
            "nullable": true
          },
          "lastUpdated_by": {
            "type": "string",
            "nullable": true
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "isServicenowProduct": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ProductsResponse": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Industry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IndustriesResponse": {
        "type": "object",
        "properties": {
          "industries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Industry"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProductLine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isGtn": {
            "type": "boolean"
          },
          "isServiceNow": {
            "type": "boolean"
          },
          "vendorCount": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ProductLinesResponse": {
        "type": "object",
        "properties": {
          "productLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductLine"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RequestTypesResponse": {
        "type": "object",
        "properties": {
          "requestTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RequestType"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserGroupsResponse": {
        "type": "object",
        "properties": {
          "userGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserGroup"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERCustomView": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ERCustomViewsResponse": {
        "type": "object",
        "properties": {
          "erCustomViews": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ERCustomView"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateERCustomViewRequest": {
        "required": [
          "columns",
          "defaultView",
          "filter",
          "name",
          "order"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "columns": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "filter": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "order": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "defaultView": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdateERCustomViewRequest": {
        "required": [
          "columns",
          "defaultView",
          "filter",
          "name",
          "order",
          "viewId"
        ],
        "type": "object",
        "properties": {
          "viewId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "columns": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "filter": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "order": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "defaultView": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ERCustomViewDetails": {
        "type": "object",
        "properties": {
          "displayColumns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "filter": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "orderBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "groupOperator": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ERCustomViewDetailsResponse": {
        "type": "object",
        "properties": {
          "erCustomViewDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ERCustomViewDetails"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomViewER": {
        "type": "object",
        "properties": {
          "userVoted": {
            "type": "string",
            "nullable": true
          },
          "linkedErs": {
            "type": "integer",
            "format": "int32"
          },
          "assignedPm": {
            "type": "string",
            "nullable": true
          },
          "jiraReference": {
            "type": "string",
            "nullable": true
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "erId": {
            "type": "integer",
            "format": "int32"
          },
          "acknowledgements": {
            "type": "integer",
            "format": "int32"
          },
          "endorsements": {
            "type": "integer",
            "format": "int32"
          },
          "rejections": {
            "type": "integer",
            "format": "int32"
          },
          "prioritizedVotes": {
            "type": "integer",
            "format": "int32"
          },
          "implementedProduct": {
            "type": "string",
            "nullable": true
          },
          "assignPm": {
            "type": "string",
            "nullable": true
          },
          "devOwner": {
            "type": "string",
            "nullable": true
          },
          "implementedProductId": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "categoryId": {
            "type": "integer",
            "format": "int32"
          },
          "requestType": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "createDate": {
            "type": "string",
            "nullable": true
          },
          "comments": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "industry": {
            "type": "string",
            "nullable": true
          },
          "moduleId": {
            "type": "integer",
            "format": "int32"
          },
          "module": {
            "type": "string",
            "nullable": true
          },
          "membertype": {
            "type": "string",
            "nullable": true
          },
          "releaseId": {
            "type": "integer",
            "format": "int32"
          },
          "release": {
            "type": "string",
            "nullable": true
          },
          "plannedRelease": {
            "type": "string",
            "nullable": true
          },
          "productId": {
            "type": "integer",
            "format": "int32"
          },
          "productLineId": {
            "type": "integer",
            "format": "int32"
          },
          "product": {
            "type": "string",
            "nullable": true
          },
          "productLine": {
            "type": "string",
            "nullable": true
          },
          "proposedSolution": {
            "type": "string",
            "nullable": true
          },
          "incidentId": {
            "type": "integer",
            "format": "int32"
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "statusReleaseId": {
            "type": "string",
            "nullable": true
          },
          "priority": {
            "type": "string",
            "nullable": true
          },
          "priorityId": {
            "type": "integer",
            "format": "int32"
          },
          "effort": {
            "type": "string",
            "nullable": true
          },
          "effortId": {
            "type": "integer",
            "format": "int32"
          },
          "jiraRefNumb": {
            "type": "string",
            "nullable": true
          },
          "refErId": {
            "type": "integer",
            "format": "int32"
          },
          "timeLine": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "companyName": {
            "type": "string",
            "nullable": true
          },
          "contactName": {
            "type": "string",
            "nullable": true
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          },
          "userGroupId": {
            "type": "string",
            "nullable": true
          },
          "userGroup": {
            "type": "string",
            "nullable": true
          },
          "workaround": {
            "type": "string",
            "nullable": true
          },
          "updateDate": {
            "type": "string",
            "nullable": true
          },
          "erRead": {
            "type": "integer",
            "format": "int32"
          },
          "createdBy": {
            "type": "integer",
            "format": "int32"
          },
          "prioritizedUserId": {
            "type": "integer",
            "format": "int32"
          },
          "prioritizedUserName": {
            "type": "string",
            "nullable": true
          },
          "isCompanyPrioritized": {
            "type": "boolean"
          },
          "isInternalEr": {
            "type": "boolean"
          },
          "opportunityId": {
            "type": "string",
            "nullable": true
          },
          "customerCentralHostUrl": {
            "type": "string",
            "nullable": true
          },
          "isPrioritizedEr": {
            "type": "boolean"
          },
          "jiraEnabled": {
            "type": "boolean"
          },
          "jiraProject": {
            "type": "string",
            "nullable": true
          },
          "jiraComponentKey": {
            "type": "string",
            "nullable": true
          },
          "jiraReferenceUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CustomViewERResponse": {
        "type": "object",
        "properties": {
          "customViewERs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomViewER"
            },
            "nullable": true
          },
          "viewColumns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdatePrioritization": {
        "required": [
          "erId"
        ],
        "type": "object",
        "properties": {
          "erId": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "additionalProperties": false
      },
      "ERProductManager": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERProductManagersResponse": {
        "type": "object",
        "properties": {
          "erProductManagers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ERProductManager"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERStatusResponse": {
        "type": "object",
        "properties": {
          "erStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ERStatus"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERCategoriesResponse": {
        "type": "object",
        "properties": {
          "erCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ERCategory"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERPriority": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERPrioritiesResponse": {
        "type": "object",
        "properties": {
          "erPriorities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ERPriority"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EREffortLevel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EREffortLevelsResponse": {
        "type": "object",
        "properties": {
          "erEffortLevels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EREffortLevel"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateERSProductLine": {
        "required": [
          "erId",
          "productId",
          "productLineId"
        ],
        "type": "object",
        "properties": {
          "erId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "productLineId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "productId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "userGroupId": {
            "type": "string",
            "nullable": true
          },
          "releaseId": {
            "type": "integer",
            "format": "int32"
          },
          "moduleId": {
            "type": "integer",
            "format": "int32"
          },
          "comments": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERCreateJira": {
        "required": [
          "enhancementId",
          "productLineId"
        ],
        "type": "object",
        "properties": {
          "enhancementId": {
            "type": "integer",
            "format": "int32"
          },
          "productLineId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "ERJira": {
        "type": "object",
        "properties": {
          "jiraKey": {
            "type": "string",
            "nullable": true
          },
          "jiraUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ERJiraIssueResponse": {
        "type": "object",
        "properties": {
          "erJira": {
            "$ref": "#/components/schemas/ERJira"
          }
        },
        "additionalProperties": false
      },
      "EscalationReason": {
        "type": "object",
        "properties": {
          "escalationReasonId": {
            "type": "integer",
            "format": "int32"
          },
          "escalationReasonName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EscalationReasonsResponse": {
        "type": "object",
        "properties": {
          "escalationReasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EscalationReason"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Event": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "region": {
            "type": "string",
            "nullable": true
          },
          "eventType": {
            "type": "string",
            "nullable": true
          },
          "products": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "eventDate": {
            "type": "string",
            "nullable": true
          },
          "timeZone": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Region": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RegionsResponse": {
        "type": "object",
        "properties": {
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventType": {
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventTypesResponse": {
        "type": "object",
        "properties": {
          "eventTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventType"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventProduct": {
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EventsProductsResponse": {
        "type": "object",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventProduct"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExcludeFileExtension": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExcludeFileExtensionsResponse": {
        "type": "object",
        "properties": {
          "excludeFileExtension": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExcludeFileExtension"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SavedSearchInfo": {
        "type": "object",
        "properties": {
          "searchId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "criteria": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SavedSearchesResponse": {
        "type": "object",
        "properties": {
          "savedSearches": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SavedSearchInfo"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SaveSearchRequest": {
        "type": "object",
        "properties": {
          "name": {
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "description": {
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          },
          "criteria": {
            "pattern": "[\\s\\S]*",
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HTVideo": {
        "type": "object",
        "properties": {
          "videoId": {
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "lifeCycle": {
            "type": "string",
            "nullable": true
          },
          "tenancy": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "tenancyId": {
            "type": "integer",
            "format": "int32"
          },
          "categoryId": {
            "type": "integer",
            "format": "int32"
          },
          "lifeCycleId": {
            "type": "integer",
            "format": "int32"
          },
          "videoEnabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "HTVideoResponse": {
        "type": "object",
        "properties": {
          "hTVideos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HTVideo"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EnableDisableHTVideoRequest": {
        "required": [
          "disableVideoIds",
          "enableVideoIds"
        ],
        "type": "object",
        "properties": {
          "enableVideoIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "disableVideoIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "additionalProperties": false
      },
      "CreateHTVideoRequest": {
        "required": [
          "categoryId",
          "description",
          "enabled",
          "lifeCycleId",
          "path",
          "tenantId",
          "title"
        ],
        "type": "object",
        "properties": {
          "title": {
            "maxLength": 1000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "categoryId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "tenantId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "lifeCycleId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "path": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "description": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdateHTVideoRequest": {
        "required": [
          "categoryId",
          "description",
          "enabled",
          "lifeCycleId",
          "path",
          "tenantId",
          "title",
          "videoId"
        ],
        "type": "object",
        "properties": {
          "videoId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "title": {
            "maxLength": 1000,
            "minLength": 0,
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "categoryId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "tenantId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "lifeCycleId": {
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "path": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "description": {
            "pattern": "[\\s\\S]*",
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "HTCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "category": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HTCategoryResponse": {
        "type": "object",
        "properties": {
          "htCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HTCategory"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HTLifeCycle": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "lifeCycle": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "HTLifeCycleResponse": {
        "type": "object",
        "properties": {
          "htLifeCycles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HTLifeCycle"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ImplementationStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ImplementationStatusesResponse": {
        "type": "object",
        "properties": {
          "implementationstatuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImplementationStatus"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "IncidentEvent": {
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "integer",
            "format": "int32"
          },
          "audience": {
            "type": "string",
            "nullable": true
[...]
